# dependencies
/node_modules
/.pnp
.pnp.js

# production
/.next
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# pnpm
/node_modules/.pnpm

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/

# build
/dist

# other
*.tgz
# OS-specific junk
.DS_Store
Thumbs.db
